* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #E4F7FE;
}

 .buttons-designs input{
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 3, 3, 0.2);
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  margin: 10px;
  border-radius: 0.6rem;
  cursor: pointer;
}

 .buttons-designs .equal-to{
  width: 9rem;
}
 .buttons-designs .changed-color{
  color:#10d4ee;
}
