* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #e4f7fe;
}

.container {
  padding: 10px 20px 20px;
  box-shadow: 0 4rem 5rem rgba(0, 0, 0, 0.5);
  background-color: #222;
  background-color: #0a1214;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  color: #2c2b2b;
  padding-bottom: 16px;
}

.buttons input {
  border: 0;
  outline: 0;
  height: 65px;
  border: 1px solid #56bfd4;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.1),
    1px 1px 8px rgba(0, 3, 3, 0.2);
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.buttons input:active {
  transform: translateY(2px);
}

.buttons .equal-to {
  grid-column: span 2;
}

.buttons .operator-button {
  color: #76e5fc;
}

.buttons > .dot {
  padding-bottom: 10px;
}

.display,
output {
  font-family: "Montserrat", sans-serif;
  width: 260px;
  height: 40px;
  font-size: 24px;
  text-align: right;
  color: #fff;
  background-color: inherit;
  overflow: auto;
  border: none;
  scrollbar-width: none;
}

output {
  font-size: 40px;
  margin-bottom: 24px;
}

output::-webkit-scrollbar {
  display: none;
}
